.ErrorBubble {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  background: linear-gradient(180deg, var(--dark-gray-1), var(--dark-gray-2));
  border-radius: 2rem;
  border: 2px solid red;
  box-shadow: inset 0px 0px 5px 1px red;
  color: red;
  font-weight: bold;
  height: auto;
  margin: 25px auto 0 auto;
  opacity: 1;
  padding: 0.75rem;
  position: relative;
  text-align: center;
  transform-origin: left top;
  transform: translateY(1);
  transition: all 0.65s ease-in-out;
  width: 75%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  font-size: 0;
  height: 0;
  opacity: 0;
  text-align: center;
  transform: translateY(0);
  transform-origin: left top;
  transition: all 0.75s ease-out;
}

.ErrorBubble:after,
.ErrorBubble:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ErrorBubble:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: red;
  border-width: 15px;
  margin-left: -15px;
  transform: translateY(0);
  transform-origin: left top;
  transition: all 0.5s ease-out;
  display: none;
  height: 0;
}
.ErrorBubble:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: red;
  border-width: 16px;
  margin-left: -16px;
}
