.Label {
  align-items: center;
  background: var(--bg_border_gradient_90__BG);
  border: var(--bg_border_gradient_90__BORDER);
  display: flex;
  font-weight: bold;
  justify-content: center;
  min-height: 2.5rem;
  width: 100%;
}
