.TitleHeading {
  background: linear-gradient(90deg, var(--black), var(--dark-gray-3), var(--black)) padding-box,
    linear-gradient(90deg, var(--black), var(--white), var(--black)) border-box;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin: 1rem auto 2rem auto;
  max-width: 600px;
  padding: 0.5rem 0;
  text-align: center;
  text-shadow: 0px 2px 10px black;
  width: 100%;
}
