.ModalWindow {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hide {
  display: none;
}

.ModalWindow > .modal_body {
  background-color: whitesmoke;
  border-radius: 1rem;
  color: black;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.ModalWindow > .modal_body > label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal_body > div > .go-button,
.modal_body > .go-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
