.ModalWindow {
  animation: var(--fade-opacity_in);
  background-color: rgba(70.2, 70.2, 70.2, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.ModalWindow > .modal_body {
  align-items: center;
  background-color: var(--black);
  border-radius: 1rem;
  border: 3px solid var(--white);
  box-shadow: 0 4px 25px 5px var(--black);
  color: white;
  display: flex;
  justify-content: center;
  max-height: 75vh;
  min-height: 25%;
  position: relative;
  text-align: center;
  width: 90%;
}

.ModalWindow > .modal_body > .modal_content {
  max-height: 65vh;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}

.ModalWindow > .modal_body > .modal_content > label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal_content > input {
  text-align: center;
}
.modal_content > textarea {
  max-height: 275px;
}
.modal_content > textarea,
.modal_content > input {
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: 2px solid var(--light-gray-1);
  outline-offset: 0.25rem;
  padding: 0.75rem;
  width: 100%;
}
.modal_content > textarea:focus,
.modal_content > input:focus {
  outline: 2px solid var(--blue);
}

.modal_body > .modal_content > div > .go-button,
.modal_body > .modal_content > .go-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.modal_body > .x_button {
  top: -1rem;
  right: -1rem;
}

@media only screen and (min-width: 600px) {
  .ModalWindow > .modal_body {
    width: 420px;
  }
  .ModalWindow > .modal_body > .modal_content {
    width: 85%;
  }
}
