.ModalWindow {
  background-color: rgba(70.2, 70.2, 70.2, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.hide {
  display: none;
}

.ModalWindow > .modal_body {
  animation: appear 0.25s ease-in-out;
  background-color: var(--black);
  border: 3px solid var(--white);
  border-radius: 1rem;
  box-shadow: 0 4px 25px 5px var(--black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 75vh;
  min-height: 25%;
  position: relative;
  text-align: center;
  width: 90%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ModalWindow > .modal_body > .modal_content {
  max-height: 65vh;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}

.ModalWindow > .modal_body > .modal_content > label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal_body > .modal_content > div > .go-button,
.modal_body > .modal_content > .go-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.modal_body > .x_button {
  top: -0.75rem;
  right: -0.75rem;
}
