.select_container {
  border-radius: 0.5rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 95%;
}

.select-option {
  background-color: var(--dark-gray-2);
  border-radius: 3rem;
  border: none;
  box-shadow: 0px 5px 7px var(--light-gray-1);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 1rem 0;
  transition: all 0.2s ease;
  width: 80%;
}

.select-option:hover {
  background-color: green;
  box-shadow: 0px 5px 10px var(--black);
  color: white;
  transform: scale(1.05);
  transition: all 0.1s ease;
}
