.RequestAppointment {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.RequestAppointment > form {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.RequestAppointment .no-available-appointments {
  background-color: red;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.75rem;
}

.RequestAppointment input[type="file"] {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

.RequestAppointment textarea {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  min-height: 150px;
  resize: vertical;
  text-align: left;
}

.RequestAppointment .request-confirm {
  display: flex;
  font-size: 0.75rem;
  margin: 0.5rem 0 0.5rem;
  text-align: center;
}

.RequestAppointment .request-confirm-text {
  font-weight: bold;
  margin-left: 0.5rem;
  text-align: justify;
}

.RequestAppointment > form > button {
  width: 100%;
}
