.go-button {
  border: none;
  border-radius: var(--button_radius);
  box-shadow: 0 3px 7px var(--black);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.button_primary {
  background-color: var(--button_primary);
}

.button_secondary {
  background-color: var(--button_secondary);
}

.button_disabled {
  background-color: var(--button_disabled);
}

.button_cancel {
  background-color: var(--button_cancel);
}
