.x_button {
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px var(--white);
  cursor: pointer;
  fill: var(--red);
  filter: drop-shadow(0px 0px 0.3rem var(--black));
  height: 2.25rem;
  position: absolute;
  transition: all 0.1s ease-in-out;
}

.x_button:hover {
  background-color: var(--red);
  box-shadow: 0 0 0 3px var(--red);
  fill: var(--dark-gray-1);
  filter: drop-shadow(0px 0px 0.35rem var(--black));
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
