.AppointmentRequestById {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  text-align: center;
}

.AppointmentRequestById a {
  color: blue;
}

.AppointmentRequestById .request-table {
  border: 3px solid var(--black);
  border-radius: 0.5rem;
  box-shadow: 0 3px 7px var(--black);
  font-weight: bold;
  overflow: hidden;
  width: 95%;
  overflow-wrap: break-word;
}

.request-table .request-table-title {
  background-color: var(--black);
}

.request-table .request-table-info {
  background-color: white;
  color: black;
}
.request-table .request-table-title,
.request-table-info {
  padding: 0.5rem 0;
}

.AppointmentRequestById > button {
  width: 95%;
}

@media only screen and (min-width: 600px) {
  .AppointmentRequestById .request-table,
  .AppointmentRequestById > button {
    width: 575px;
  }
}
