.ErrorMessage {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  box-shadow: inset 0px 0px 5px 1px red;
  border: 2px solid red;
  border-radius: 0.5rem;
  color: red;
  font-weight: bold;
  height: auto;
  margin: 25px auto 0 auto;
  opacity: 1;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  transform: translateY(1);
  transform-origin: left top;
  transition: all 0.65s ease-in-out;
  width: 75%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  font-size: 0;
  height: 0;
  opacity: 0;
  text-align: center;
  transform: translateY(0);
  transform-origin: left top;
  transition: all 0.75s ease-out;
  width: 100%;
}

.ErrorMessage:after,
.ErrorMessage:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ErrorMessage:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: red;
  border-width: 15px;
  margin-left: -15px;
  transform: translateY(0);
  transform-origin: left top;
  transition: all 0.5s ease-out;
  display: none;
  height: 0;
}
.ErrorMessage:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: red;
  border-width: 16px;
  margin-left: -16px;
}
