* {
  box-sizing: border-box;
}

.RequestAppointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
}

.RequestAppointment form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.RequestAppointment .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.RequestAppointment .calendarContainer {
  width: 100%;
}

.RequestAppointment .apt-times-container {
  margin-top: 0.5rem;
  text-align: center;
}

.RequestAppointment .no-available-appointments {
  background-color: red;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.75rem;
}

.RequestAppointment input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
.photo-upload,
.request_textarea {
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0 3px 7px var(--black);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.RequestAppointment input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
.request_textarea:focus {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 7px white;
}

.RequestAppointment input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
}

.RequestAppointment .photo-upload {
  align-items: center;
  background-color: grey;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.RequestAppointment .photo-upload > label {
  width: 50%;
}

.RequestAppointment input[type="file"] {
  display: none;
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.RequestAppointment .choose-file {
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px var(--black);
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
}

.RequestAppointment .photo-file-name {
  font-weight: 500;
  margin: 0.75rem 0;
}

.RequestAppointment textarea {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  min-height: 150px;
  resize: vertical;
  text-align: left;
}

.RequestAppointment .request-confirm {
  display: flex;
  font-size: 0.75rem;
  margin: 0.5rem 0 0.5rem;
  text-align: center;
}

.RequestAppointment .request-confirm-text {
  margin-left: 0.5rem;
  text-align: left;
}

.RequestAppointment button[type="submit"] {
  background-color: green;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .RequestAppointment form {
    width: 500px;
  }
}
