* {
  box-sizing: border-box;
}

.RequestAppointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

.RequestAppointment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RequestAppointment .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.RequestAppointment .calendarContainer {
  width: 100%;
}

.RequestAppointment input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
.photo-upload,
textarea {
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.RequestAppointment input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 10px white;
}

.RequestAppointment input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}

.RequestAppointment .photo-upload {
  background-color: grey;
  font-weight: bold;
  margin: 1rem;
}

.RequestAppointment textarea {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  min-height: 150px;
  resize: vertical;
}

.RequestAppointment .of-age-confirm {
  font-size: 0.75rem;
  margin: 0.5rem 0 0.5rem;
  text-align: center;
}

.RequestAppointment button[type="submit"] {
  background-color: green;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 1rem;
}
