.Loading {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}

.Loading svg {
  animation: rotate 1.5s infinite;
  fill: var(--light-gray-1);
  width: 215px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loading h1 > span {
  color: var(--light-gray-1);
  display: inline-block;
  animation: bounce 1.75s infinite;
  font-size: 1.5rem;
  padding: 10px;
}
.Loading h1 > span:nth-child(1) {
  animation-delay: 0s;
}
.Loading h1 > span:nth-child(2) {
  animation-delay: 0.25s;
}
.Loading h1 > span:nth-child(3) {
  animation-delay: 0.5s;
}
.Loading h1 > span:nth-child(4) {
  animation-delay: 0.75s;
}
.Loading h1 > span:nth-child(5) {
  animation-delay: 1s;
}
.Loading h1 > span:nth-child(6) {
  animation-delay: 1.25s;
}
.Loading h1 > span:nth-child(7) {
  animation-delay: 1.5s;
}
@keyframes bounce {
  0%,
  40%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
}

@media only screen and (min-width: 600px) {
  .Loading svg {
    width: 350px;
  }
  .Loading h1 > span {
    font-size: 3rem;
  }
}
