.AddNote {
  background-color: blue;
  border-radius: 3rem;
  box-shadow: 0 3px 7px var(--black);
  color: white;
  font-weight: bold;
  margin: 1rem auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.25s ease;
  width: 100%;
}

.add-note {
  margin: 1rem;
}
.note-field {
  background-color: white;
  width: 100%;
}
.note-field > textarea {
  min-height: 10rem;
  max-height: 15rem;
  resize: vertical;
  min-width: 90%;
}

.note-field.inactive {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 100%;
}
.note-field.active {
  color: black;
  max-height: 1000px;
  display: block;
  transition: all 0.5s ease;
  width: 100%;
  padding: 1rem;
}
.note-field > .go-button {
  display: block;
  margin: 0 auto 1rem auto;
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .AddNote {
    width: 575px;
  }
}
